@*
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web-App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="oi oi-plus" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Companies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lunchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lunchdata
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagenotfound">
                <span class="oi oi-list-rich" aria-hidden="true"></span> pagenotfound
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grocerylist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grocery List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lunchdataemployees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lunchdata Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lunchdatacompanies">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lunchdata Companies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getgrocerylist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Get grocery List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changegrocerymultiplier">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Change Grocery Multiplier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addemployee">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Employee
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
*@