@page "/addemployee"
@inject NavigationManager NavigationManager
@inject UserController User
@inject IJSRuntime JSRuntime

<style>
    body { /*achtergrond*/
        background: linear-gradient(to left, #C4A484 50%, transparent 50%), url('https://i.imgur.com/GZVw5gT.png') repeat-x;
        background-color: #E9E9E9;
        background-size: 15500px 300px;
        background-position: 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .mainsquare { /*rechthoek*/
        width: 1200px;
        height: 800px;
        background-color: #099F91;
        border-radius: 10px;
        position: relative;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .smallersquare { /*grootte kleinere rechthoek in tweede rechthoek*/
        width: 300px;
        height: 800px;
        background-color: #00A89B;
        border-radius: 10px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .squareinmainsquare { /*wit rechthoek in main rechthoek*/
        width: 800px;
        height: 700px;
        background-color: #E9E9E9;
        border-radius: 10px;
        position: absolute;
        top: 50px;
        left: 350px;
    }

    .buurtboer-logo {
        width: 300px;
        height: 250px;
        top: 0px;
        left: 0%;
        position: absolute;
    }

    .text-containersquare { /*positie en grootte tekst*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        font-family: monospace;
        font-size: 24px;
        margin-top: 30px;
        margin-left: 325px;
    }

    .text-containersquaretwo { /*positie en grootte tekst*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        font-family: monospace;
        font-size: 24px;
        margin-top: 50px;
        margin-left: 150px;
    }

    input { /*grootte naam en email blok*/
        margin-bottom: 30px;
        border: 2px solid white;
        border-radius: 8px;
        padding: 8px;
        width: 500px;
    }

    .addemployee-button { /*kleur van "Add" button*/
        background-color: #F9834C;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 15px 30px;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        margin-top: 525px;
        margin-left: 200px;
    }

    .homescreen-button { /*knop om naar home page te gaan*/
        position: absolute;
        top: 350px;
        left: 30px;
        padding: 20px 0;
        width: 80%;
        background-color: #099F91;
        border: 1px solid #099F91;
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
    }

        .homescreen-button:hover {
            background-color: #F9834C;
        }

    .employee-button { /*knop om naar employees page te gaan*/
        position: absolute;
        top: 425px;
        left: 30px;
        padding: 20px 0;
        width: 80%;
        background-color: #099F91;
        border: 1px solid #099F91;
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
    }

        .employee-button:hover {
            background-color: #F9834C;
        }

    .grocerylist-button { /*knop om naar grocerylist page te gaan*/
        position: absolute;
        top: 500px;
        left: 30px;
        padding: 20px 0;
        width: 80%;
        background-color: #099F91;
        border: 1px solid #099F91;
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
    }

        .grocerylist-button:hover {
            background-color: #F9834C;
        }

    .companies-button { /*knop om naar grocerylist page te gaan*/
        position: absolute;
        top: 500px;
        left: 30px;
        padding: 20px 0;
        width: 80%;
        background-color: #099F91;
        border: 1px solid #099F91;
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
    }

        .companies-button:hover {
            background-color: #F9834C;
        }

    .lunchdata-button { /*knop om naar lunchdata page te gaan*/
        position: absolute;
        top: 575px;
        left: 30px;
        padding: 20px 0;
        width: 80%;
        background-color: #099F91;
        border: 1px solid #099F91;
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
    }

        .lunchdata-button:hover {
            background-color: #F9834C;
        }
</style>

<div class="mainsquare">
    @* HTML elements*@
    <div class="smallersquare">
        <img src="https://i.imgur.com/MF5gfZC.png" class="buurtboer-logo" />
        <button class="homescreen-button" @onclick="HomeScreenRouting">Home</button>
        @if (CheckUserRole() == Role.SuperAdmin)
        {
            <button class="companies-button" @onclick="CompaniesRouting">Companies</button>
        }
        else
        {
            <button class="grocerylist-button" @onclick="GroceryListRouting">Grocery List</button>
        }
        <button class="employee-button" @onclick="EmployeeRouting">Employees</button>
        <button class="lunchdata-button" @onclick="LunchDataRouting">Lunchdata</button>
    </div>
    <div class="squareinmainsquare">
        <div class="text-containersquare">
            <p>Add employee</p>
        </div>
        <div class="text-containersquaretwo">
            <label for="first name">First name:</label>
            <input type="text" @bind="firstname" />

            <label for="last name">Last name:</label>
            <input type="text" @bind="lastname" />
            
            <label for="email">Email:</label>
            <input type="text" @bind="email" />
            <button class="addemployee-button" @onclick="addEmployee">Add</button>
        </div>
    </div>
</div>

@code {
    public User currentUser = new();
    private string firstname = "";
    private string lastname = "";
    private string email = "";

    private async void addEmployee()
    {
        if (firstname != "" && lastname != "" && email != "")
        {
            // Specify Role Enum value
            var role = Role.Employee;

            // Add placeholder password
            var password = "wachtwoordvoornu";

            var user = new User(
              firstname,
              lastname,
              password,
              email,
              role,
              null,
              User.CurrentUser.CompanyId
            );

            await User.addUser(user);
            await JSRuntime.InvokeVoidAsync("alert", "Employee has been invited");
            // employee moet nog op inactief staan en dus mag nog niet in lijst van employees komen te staan?
            // wachtwoord, hoe gaan we dat fixen staat nu op niks
            // invite voor mobiele app sturen via mail naar gebruiker.
        }
    }

    protected async override Task OnInitializedAsync() // Make the method asynchronous
    {
        if (!IsUserLoggedIn())
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    private bool IsUserLoggedIn() // kijken of gebruiker ingelogd is.
    {
        return User.CurrentUser != null;// deze op false zetten zorgt ervoor dat gebruiker direct naar login scherm wordt gestuurd als hij niet ingelogd is.
    }

    private Role CheckUserRole()
    {
        return User.CurrentUser.Role;
    }

    private void HomeScreenRouting()
    {
        NavigationManager.NavigateTo("/home");
    }

    private void EmployeeRouting()
    {
        NavigationManager.NavigateTo("/employees");
    }

    private void GroceryListRouting()
    {
        NavigationManager.NavigateTo("/grocerylist");
    }

    private void LunchDataRouting()
    {
        NavigationManager.NavigateTo("/lunchdata");
    }

    private void CompaniesRouting()
    {
        NavigationManager.NavigateTo("/companies");
    }
}