@page "/login"


<style> 
    body { /*achtergrond:*/
        background-color: #C4A484;
    }
</style>

<h1>Login</h1>

<form>
   <label for="username">Username:</label>
   <input type="text" id="username" />
    
   <label for="password">Password:</label>
   <input type="password" id="password" />

   <button type="button" @onclick="HandleLogin">Login</button>
</form>

@code {
    private void HandleLogin()
    {
        // Add login logic here
        // Check username and password against database
        // Redirect user if login is successful
    }
}